@import "tailwindcss";

:root {
  --background: #443255;
  --foreground: #ffffff;
}
body {
  background-color: var(--background);
  color: var(--foreground);
}

.font-inter {
  font-family: var(--font-inter);
}
.font-oxygen-mono {
  font-family: var(--font-oxygen-mono);
}

.chibi-background {
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: radial-gradient(125% 100% at top right, white, transparent);
  -webkit-mask-image: radial-gradient(
    125% 100% at top right,
    white,
    transparent
  );
  animation: fadein 0.76s ease-in-out;
}

html {
  background-color: #443255;
}
