@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oxygen-mono);
}

@keyframes jumpoutfadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jumpoutfadein {
  animation: jumpoutfadein 0.8s ease-in-out;
}
.dmkas {
  letter-spacing: 10px;
}

.first-background {
  background-image: url("/10.png");
  background-size: cover;
}
.second-background {
  background-image: url("/11.jpg");
  background-size: cover;
}
.third-background {
  background-image: url("/12.jpg");
  background-size: cover;
}
