@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}
body {
  background: var(--background);
  color: var(--foreground);
}

.font-inter {
  font-family: var(--font-inter);
}
.font-oxygen-mono {
  font-family: var(--font-oxygen-mono);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jumpoutfadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jumpoutfadein-basic {
  animation: jumpoutfadein 1s ease-in-out;
}

.jumpoutfadein {
  animation: jumpoutfadein var(--time) ease-in-out;
}

.dmkas {
  letter-spacing: 6px;
}

.first-background {
  background-color: #443255;
}

.fadein {
  animation: fadein var(--time) ease-in-out;
}

.chibi-background {
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: radial-gradient(125% 100% at top right, white, transparent);
  -webkit-mask-image: radial-gradient(
    125% 100% at top right,
    white,
    transparent
  );
  animation: fadein 0.76s ease-in-out;
}

html {
  background-color: #443255;
}
